@import url(reset.css);

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   font-family: var(--font-stack);
}

h1 {
   font-size: 2rem;
   font-weight: 400;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

#first-container {
   display: flex;
   flex-direction: column;
}

.search-bar {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

#search {
   height: 30px;
   width: 500px;
   padding-left: 10px;
}

#random-gif,
#dog-gif {
   display: none;
}